---
import BaseHead from "../components/BaseHead.astro";
import MainPageHeroSection from "../components/main-page/MainPageHeroSection.astro";
import Header from "../components/Header.astro";
import MainPageServicesSection from "../components/main-page/MainPageServicesSection.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="es">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="bg-gray-100 text-gray-800 flex flex-col min-h-screen">
    <Header />

    <MainPageHeroSection />
    <MainPageServicesSection />
    <main class="container mx-auto px-4 sm:px-6 lg:px-8 py-8 flex-grow">
      <section class="mb-8">
        <h2 class="text-xl font-semibold mb-2">
          Consultoría AWS Nivel Enterprise
        </h2>
        <form class="space-y-4">
          <label class="block">
            <span class="text-gray-700">Seleccione servicio requerido</span>
            <select
              class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
            >
              <option value="migracion-enterprise">Migración Enterprise</option>
              <option value="arquitectura-serverless"
                >Arquitectura Serverless</option
              >
            </select>
          </label>
          <button
            type="submit"
            class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
          >
            Solicitar Propuesta
          </button>
        </form>
      </section>
    </main>

    <Footer />
  </body>
</html>
