---
import BaseHead from "../components/BaseHead.astro";
import MainPageHeroSection from "../components/main-page/MainPageHeroSection.astro";
import Header from "../components/Header.astro";
import MainPageServicesSection from "../components/main-page/MainPageServicesSection.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import MainPageCaseStudiesSection from "../components/main-page/MainPageCaseStudiesSection.astro";
import MainPageCTASection from "../components/main-page/MainPageCTASection.astro";
---

<!doctype html>
<html lang="es">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="bg-gray-100 text-gray-800 flex flex-col min-h-screen">
    <Header />

    <MainPageHeroSection />
    <MainPageServicesSection />
    <MainPageCaseStudiesSection />
    <MainPageCTASection />

    <Footer />
  </body>
</html>
