---
import socialLinks from "../data/social-links.json";
const today = new Date();
---

<footer class="border-t border-gray-200/80 mt-24 py-12 bg-white">
	<div class="container mx-auto px-4 sm:px-6 lg:px-8 text-center">
		<p class="text-gray-500 text-sm mb-4">
			&copy; {today.getFullYear()} Your name here. All rights reserved.
		</p>

		<div class="social-links flex justify-center space-x-4">
			{
				socialLinks.map((link) => (
					<a
						href={link.url}
						target="_blank"
						class="text-gray-500 hover:text-cyan-600 transition-colors"
					>
						<span class="sr-only">{link.srText}</span>
						<svg
							viewBox="0 0 16 16"
							aria-hidden="true"
							class="w-6 h-6"
						>
							<path fill="currentColor" d={link.svgPath} />
						</svg>
					</a>
				))
			}
		</div>
	</div>
</footer>
