---
import { getCollection } from "astro:content";
import PageLayout from "../../layouts/Page.astro";
import CaseStudyCard from "../../components/CaseStudyCard.astro";

const caseStudies = (await getCollection("caseStudies")).sort(
    (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<PageLayout>
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-12">
        <h1 class="text-5xl font-bold mb-16 text-center">Case Studies</h1>

        <div class="grid grid-cols-1 md:grid-cols-1 gap-12">
            {
                caseStudies.map((caseStudy) => (
                    <CaseStudyCard
                        caseStudy={caseStudy}
                        caseStudies={caseStudies}
                    />
                ))
            }
        </div>
    </div>
</PageLayout>
